extends base


block content 

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email address
                    input#emailForgotPassword.form__input.form__input--email(type='email', placeholder='you@example.com', required)

                .form__group
                    button.btn.btn--green.btn--send--forgetPassword--email Send Email!
