extends base


block content 

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form.form--login-btn
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input.form__input--email(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input.form__input--password(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green.btn--green__login Login
                    a.btn.btn--orange.btn--forgot-password(href='/forgotPassword') Forgot Password?