extends base


block content 

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form.form--log

                .form__group.ma-bt-md
                    label.form__label(for='password') New Password
                    input#password.form__input.form__input--password.password--reset(type='password', placeholder='••••••••', required, minlength='8')

                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm New Password
                    input#password.form__input.form__input--password.password--reset--confirm(type='password', placeholder='••••••••', required, minlength='8')


                .form__group
                    button.btn.btn--green.reset--my-password Reset Password           