extends baseEmail 

block content
    p Hi #{firstName},
    p This is to notify you that your password has just been changed on our website.
    //- p (Website for this action not yet implemented!)
    p If you did not make this change, please contact customer suppport immediately.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Customer Support
